<ion-header>
    <ion-toolbar>
        <ion-title >
            <span style="cursor: pointer;" [routerLink]="['/home']">Light & Temperature Monitoring</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-grid>
            <ion-row>
                <ion-col size="3" offset="3">
                    <ion-item>
                        <ion-label position="floating">Node IPv6 Address</ion-label>
                        <ion-input [(ngModel)]="node.addr" disabled></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input [(ngModel)]="node.name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3" offset="3">
                    <ion-item>
                        <ion-label position="floating">Update frequency (seconds)</ion-label>
                        <ion-input [(ngModel)]="node.timer"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-button float-right (click)="saveChanges()">Apply changes</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <hr />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3" offset="3">
                    <ion-list>
                        <ion-list-header>
                            Temperature (°C) <ion-icon name="thermometer"></ion-icon>
                        </ion-list-header>
                        <ion-item *ngFor="let temp of node.temp">
                            <ion-label>
                                <h2 style="font-weight: bold;">{{ temp.value | number:'1.0-1' }}</h2>
                                <h3>{{ temp.timestamp | date:'medium' }}</h3>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col size="3">
                    <ion-list>
                        <ion-list-header>Light (lux) <ion-icon name="sunny"></ion-icon>
                        </ion-list-header>
                        <ion-item *ngFor="let light of node.light">
                            <ion-label>
                                <h2 style="font-weight: bold;">{{ light.value | number:'1.0-1' }}</h2>
                                <h3>{{ light.timestamp | date:'medium' }}</h3>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>