<ion-header>
  <ion-toolbar>
    <ion-title>
      Light & Temperature Monitoring
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid *ngIf="nodes$ | async as nodes">
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-list>
            <ion-item class="node-item" *ngFor="let node of nodes; let i = index" button [routerLink]="['/node', i]">
                <ion-icon class="huge-icon" name="cube"></ion-icon>
              <ion-label>
                <h2>{{ node.name || node.addr }}</h2>
                <h3 *ngIf="node.name">{{ node.addr }}</h3>
                <p>
                  <ion-list>
                    <ion-item>
                      <ion-icon name="thermometer"></ion-icon>
                      <span *ngIf="node.temp.length > 0">{{ node.temp[0].value | number:'1.0-1' }} °C</span>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="sunny"></ion-icon>
                        <span *ngIf="node.light.length > 0">{{ node.light[0].value | number:'1.0-1' }} lux</span>
                      </ion-item>
                  </ion-list>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>